.navbar { 
	display: flex;
	justify-content: space-around;
	background-color: rgb(153, 90, 21);

}

.content { 
display: flex;
flex-flow: row wrap;
align-items: center;
justify-content: space-around;
background-color: rgb(100, 54, 50);
	 }	

.content>h1 {
display: flex;
width: 100%;
align-items: center;
justify-content: center;
}

.content>p{
  width: 100%;
  display: flex;
  justify-content: center;
  }

.news {
	width: 33%;
}

#breaking {
	display: flex;
	text-align: center;
	flex-direction: column;
	order: -1;
	font-size: large;
}

#breaking>h3 {
	font-size: 250%;
}

